In [1]:
import numpy as np
import pandas as pd

# Cleaning

In [2]:
df = pd.read_parquet('../../Data/lichess-sampled.parquet')
df.head()

,Event,Site,White,Black,Result,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,ECO,TimeControl,Termination,Moves,WhiteTitle,BlackTitle,LichessId,Date
0,Classical,https://lichess.org/a9tcp02g,Desmond_Wilson,savinka59,White,1654.0,1919.0,19.0,-22.0,D04,480+2,Normal,1. d4 d5 2. Nf3 Nf6 3. e3 Bf5 4. Nh4 Bg6 5. Nx...,NaN,NaN,<NA>,2012-12-31 23:04:12
1,Classical,https://lichess.org/iclkx584,Voltvolf,Marzinkus,White,1824.0,1811.0,11.0,-11.0,C02,360+6,Normal,1. e4 e6 2. d4 d5 3. e5 c5 4. c3 Ne7 5. f4 cxd...,NaN,NaN,<NA>,2012-12-31 23:10:00
2,Classical,https://lichess.org/ufcqmfxx,6WX,adamsrj,White,1463.0,1504.0,62.0,-12.0,C44,1560+30,Normal,1. e4 e5 2. Nf3 Nc6 3. Bc4 Be7 4. d4 exd4 5. N...,NaN,NaN,<NA>,2012-12-31 23:16:04
3,Classical,https://lichess.org/qwuudn2s,sebastian44,jtkjtkful,Black,1347.0,1519.0,-6.0,23.0,B01,300+5,Time forfeit,1. e4 d5 2. e5 d4 3. Nf3 Nc6 4. c3 d3 5. Na3 f...,NaN,NaN,<NA>,2012-12-31 23:24:11
4,Classical,https://lichess.org/c9qfp8es,peter2,Killi,Black,1519.0,1572.0,-9.0,9.0,C28,480+0,Normal,1. e4 Nc6 2. Nc3 e5 3. Bc4 Nf6 4. d3 h6 5. f3 ...,NaN,NaN,<NA>,2013-01-01 00:51:20

In [3]:
df.shape

(4286409, 17)

In [4]:
df.columns

Index(['Event', 'Site', 'White', 'Black', 'Result', 'WhiteElo', 'BlackElo',
       'WhiteRatingDiff', 'BlackRatingDiff', 'ECO', 'TimeControl',
       'Termination', 'Moves', 'WhiteTitle', 'BlackTitle', 'LichessId',
       'Date'],
      dtype='object')

In [5]:
df.dtypes

Event                      string
Site                       string
White                      string
Black                      string
Result                   category
WhiteElo                  float64
BlackElo                  float64
WhiteRatingDiff           float64
BlackRatingDiff           float64
ECO                      category
TimeControl                string
Termination              category
Moves                      string
WhiteTitle               category
BlackTitle               category
LichessId                  string
Date               datetime64[ns]
dtype: object

In [6]:
time_lim = []
time_inc = []
for tc in df['TimeControl']:
    tc_split = tc.split('+')
    time_lim.append(tc_split[0])
    time_inc.append(tc_split[1])
    
df['TimeLim'] = time_lim
df['TimeInc'] = time_inc
df['TimeLim'] = df['TimeLim'].astype('int32')
df['TimeInc'] = df['TimeInc'].astype('int32')

In [7]:
df = df.drop('TimeControl',axis=1)
df.head()

,Event,Site,White,Black,Result,WhiteElo,BlackElo,WhiteRatingDiff,BlackRatingDiff,ECO,Termination,Moves,WhiteTitle,BlackTitle,LichessId,Date,TimeLim,TimeInc
0,Classical,https://lichess.org/a9tcp02g,Desmond_Wilson,savinka59,White,1654.0,1919.0,19.0,-22.0,D04,Normal,1. d4 d5 2. Nf3 Nf6 3. e3 Bf5 4. Nh4 Bg6 5. Nx...,NaN,NaN,<NA>,2012-12-31 23:04:12,480,2
1,Classical,https://lichess.org/iclkx584,Voltvolf,Marzinkus,White,1824.0,1811.0,11.0,-11.0,C02,Normal,1. e4 e6 2. d4 d5 3. e5 c5 4. c3 Ne7 5. f4 cxd...,NaN,NaN,<NA>,2012-12-31 23:10:00,360,6
2,Classical,https://lichess.org/ufcqmfxx,6WX,adamsrj,White,1463.0,1504.0,62.0,-12.0,C44,Normal,1. e4 e5 2. Nf3 Nc6 3. Bc4 Be7 4. d4 exd4 5. N...,NaN,NaN,<NA>,2012-12-31 23:16:04,1560,30
3,Classical,https://lichess.org/qwuudn2s,sebastian44,jtkjtkful,Black,1347.0,1519.0,-6.0,23.0,B01,Time forfeit,1. e4 d5 2. e5 d4 3. Nf3 Nc6 4. c3 d3 5. Na3 f...,NaN,NaN,<NA>,2012-12-31 23:24:11,300,5
4,Classical,https://lichess.org/c9qfp8es,peter2,Killi,Black,1519.0,1572.0,-9.0,9.0,C28,Normal,1. e4 Nc6 2. Nc3 e5 3. Bc4 Nf6 4. d3 h6 5. f3 ...,NaN,NaN,<NA>,2013-01-01 00:51:20,480,0

In [8]:
df.White.value_counts()

Snowden          961
drums            741
v_clava38        733
cleoplatre       662
billooji         648
                ...
veiqrc             1
JvstMaxiii         1
cocletor           1
B7374865EDGAR      1
BulaSabalero       1
Name: White, Length: 860273, dtype: Int64

In [9]:
df.Black.value_counts()

Snowden       917
v_clava38     706
jaybird       685
cleoplatre    662
capobruno     639
             ...
medgrea         1
DiscoJoe        1
lspitfirel      1
mohsen5382      1
ANTEY098        1
Name: Black, Length: 874663, dtype: Int64

In [10]:
cross = pd.crosstab(df.ECO,df.Termination)
cross

Termination  Abandoned  Normal  Rules infraction  Time forfeit  Unterminated
ECO
?                 7255    1148                 0          1815             1
A00                312  186023                45         35168             0
A01                 49   25732                 5          4393             0
A02                 57   11420                 1          1981             0
A03                  3   10972                 8          1945             0
..                 ...     ...               ...           ...           ...
E94                  0     454                 1            49             0
E95                  0      25                 0             3             0
E97                  0     261                 0            36             0
E98                  0      68                 0             5             0
E99                  0      35                 0             6             0

[498 rows x 5 columns]

In [11]:
# opening to how game ends
cross.sort_values(by='Normal',ascending=False)

Termination  Abandoned  Normal  Rules infraction  Time forfeit  Unterminated
ECO
A00                312  186023                45         35168             0
C20                 17  184213                37         35791             0
D00                 19  173366                40         29812             0
B01                 13  159107                43         26977             0
C41                 21  155837                26         25295             0
..                 ...     ...               ...           ...           ...
A99                  0       1                 0             1             0
B69                  0       1                 0             0             0
A79                  0       1                 0             0             0
D72                  0       0                 0             1             0
E78                  0       0                 0             1             0

[498 rows x 5 columns]

In [12]:
cross = pd.crosstab(df.ECO,df.Result)

In [13]:
cross = cross.div(cross.sum(axis=1), axis=0).round(2)
cross

Result  Black  Draw  Unknown  White
ECO
?        0.91  0.00     0.05   0.04
A00      0.52  0.04     0.00   0.43
A01      0.48  0.04     0.00   0.47
A02      0.46  0.05     0.00   0.49
A03      0.49  0.05     0.00   0.46
..        ...   ...      ...    ...
E94      0.48  0.05     0.00   0.47
E95      0.21  0.04     0.00   0.75
E97      0.46  0.08     0.00   0.46
E98      0.47  0.03     0.00   0.51
E99      0.46  0.05     0.00   0.49

[498 rows x 4 columns]

# Ply and More Complicated Statistics

In [14]:
titled1 = df[df.WhiteTitle.isnull() == False]

In [15]:
titled2 = df[df.BlackTitle.isnull() == False]

In [16]:
titled = pd.concat([titled1,titled2],join='outer')

In [17]:
bot1 = df[df.BlackTitle == 'BOT']
bot2 = df[df.WhiteTitle == 'BOT']

In [18]:
# 0.07% of games are played in part by a bot
pd.concat([bot1,bot2],join='outer').shape[0]/df.shape[0]

0.0007729080449392487

In [19]:
# 0.16% games are played with titled players
titled.shape[0]/df.shape[0]

0.0016911591964275923

In [20]:
# A00 is unknown, C20 is kings pawn games makes sense
df.ECO.value_counts()

A00    221548
C20    220058
D00    203237
B01    186140
C41    181179
        ...
E58         2
E78         1
D72         1
A79         1
B69         1
Name: ECO, Length: 498, dtype: int64

In [21]:
# 5% of games are kings pawn games
df[df.ECO == 'C20'].shape[0]/df.shape[0]

0.05133854468857265

In [22]:
kings_pawn = df[df.ECO == 'C20']

# Extracting Analysis

In [23]:
games_with_analysis = df[df.Moves.str.contains("{")]

In [24]:
games_with_analysis.shape

(2897664, 18)

In [25]:
games_with_analysis.shape[0]/df.shape[0]

0.6760120184518089

around 67.6% of games actually have analysis

In [26]:
moves = games_with_analysis.Moves.reset_index().drop('index',axis=1)

### Standard move notation for good/bad/etc moves
? mistake

?? blunder

?! dubious

!? interesting

!! brilliant

! good

In [ ]:
# get kind of move for each move
mistake_arr_white = []
blunder_arr_white = []
dubious_arr_white = []
interesting_arr_white = []
brilliant_arr_white = []
good_arr_white = []

mistake_arr_black = []
blunder_arr_black = []
dubious_arr_black = []
interesting_arr_black = []
brilliant_arr_black = []
good_arr_black = []

isWhite = True
for value in moves.values:
    value = str(value)
    split_up = value.split(" {")[1:-1]
    mistake = 0
    blunder = 0
    dubious = 0
    interesting = 0
    brilliant = 0
    good = 0
    for m in split_up:
        ply_string = m.split(" }")[1]
        if(ply_string[-2:] == "?!"):
            dubious+=1
        elif(ply_string[-2:] == "!!"):
            brilliant+=1
        elif(ply_string[-2:] == "??"): 
            blunder+=1
        elif(ply_string[-2:] == "!?"): 
            interesting+=1
        elif(ply_string[-1:] == "?"): 
            mistake+=1
        elif(ply_string[-1:] == "!"): 
            good+=1
    if (isWhite):
        mistake_arr_white.append(mistake)
        blunder_arr_white.append(blunder)
        dubious_arr_white.append(dubious)
        interesting_arr_white.append(interesting)
        brilliant_arr_white.append(brilliant)
        good_arr_white.append(good)
    else:
        mistake_arr_black.append(mistake)
        blunder_arr_black.append(blunder)
        dubious_arr_black.append(dubious)
        interesting_arr_black.append(interesting)
        brilliant_arr_black.append(brilliant)
        good_arr_black.append(good)
    isWhite = !isWhite

In [30]:
move_analysis_df = pd.DataFrame()
move_analysis_df['site'] = games_with_analysis.reset_index().Site
move_analysis_df['white_brilliant'] = brilliant_arr_white
move_analysis_df['white_good'] = good_arr_white
move_analysis_df['white_interesting'] = interesting_arr_white
move_analysis_df['white_dubious'] = dubious_arr_white
move_analysis_df['white_mistake'] = mistake_arr_white
move_analysis_df['white_blunder'] = blunder_arr_white
move_analysis_df['black_brilliant'] = brilliant_arr_black
move_analysis_df['black_good'] = good_arr_black
move_analysis_df['black_interesting'] = interesting_arr_black
move_analysis_df['black_dubious'] = dubious_arr_black
move_analysis_df['black_mistake'] = mistake_arr_black
move_analysis_df['black_blunder'] = blunder_arr_black

ValueError: Length of values (1) does not match length of index (2897664)

In [ ]:
move_analysis_df

In [ ]:
# get evaluation for each move
for value in moves.values[0]:
    split_up = value.split(" {")[1:]
    for m in split_up:
        print(m.split(" }")[0])

In [ ]:
# average evaluation
# % of game in favor of each color
# move with largest swing in evaluation, the swing in evaluation
# explosivity: difference in highest and lowest values